* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-visual {
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.head {
  padding: 20px;
  color: #808080;
}

main {
  width: 840px;
  margin: 50px auto;
}

.service1 {
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}

.service234 {
  padding: 30px 0;
  border-bottom: 1px solid black;
}